!!!
%html
	%head
		%title WhatKey? About
		%link{:href => 'site.css', :rel => 'stylesheet', :type => 'text/css'}
		/[if lte IE 8]
			:javascript 
				document.createElement('footer')
	%body
		#content
			%h1 What's this all about?
			%p
				Ever been working with JavaScript keyboard events only to realise that you don't know what
				keycode you're looking for?
				%br
				Well I got sick of googling for sites which I could use to do this for me, so I created
				%a{:href => 'http://whatkey.net', :title => 'whatkey.net'} whatkey.net
				to do this for me.
			%p
				WhatKey allows you to test the different key events
				%a{:href => '/keydown', :title => 'keydown'} keydown
				,
				%a{:href => '/keypress', :title => 'keypress'} keypress
				and
				%a{:href => '/keyup', :title => 'keyup'} keyup
				which have a slight differences between each of them.
			%footer 
				%nav
					%a{:href => '/keydown', :title => 'keydown'} keydown
					|
					%a{:href => '/keypress', :title => 'keypress'} keypress
					|
					%a{:href => '/keyup', :title => 'keyup'} keyup
					|
					%a{:href => '/about', :title => 'about'} about
				%br
				Copyright &copy 2010 - #{Time.now.year} 
				%a{:href => 'http://aaron-powell.com', :title => 'Aaron Powell'} Aaron Powell
		:javascript
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-20152461-1']);
			_gaq.push(['_trackPageview']);
			(function() {
			var ga = document.createElement('script');
			ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})(); 