%h1 What's this all about?
%p
	Ever been working with JavaScript keyboard events only to realise that you don't know what
	keycode you're looking for?
	%br
	Well I got sick of googling for sites which I could use to do this for me, so I created
	%a{:href => 'http://whatkey.net', :title => 'whatkey.net'} whatkey.net
	to do this for me.
%p
	WhatKey allows you to test the different key events
	%a{:href => '/keydown', :title => 'keydown'} keydown
	,
	%a{:href => '/keypress', :title => 'keypress'} keypress
	and
	%a{:href => '/keyup', :title => 'keyup'} keyup
	which have a slight differences between each of them.